@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');
:root {
    --cor-principal: #F3F8FF;
    --cor-secundaria: #9e1bd2;
    --cor-botao: #1f1e20;
    --cor-de-fundo: #000000;
    --cor-texto-alternativo: #ff00ff;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Bevan", serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);


    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.background {
    margin: -10% 0% 100% 0%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    opacity: 40%;
    z-index: -1;
    width: 100%;


}

.login {
}


.login__logo {
    width: 12%;
    margin-left: 10%;
}


.login__entrar {
    padding: 10px 1px 50% 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5% 30% 5% 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__entrar__titulo {
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 30px;
    margin: 10% 2% 5% 14.3%;
    float: left;
}

.login__campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
}

.login__campos__texto {
    color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 40px;
    border-radius: 5px;    
    font-weight: bold;
}

.login__campos__entrar {
    text-decoration: none;
    color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
    background-color: var(--cor-secundaria);
    width: 70%;
    height: 35px;
    border-radius: 5px; 
    text-align: center;
    border: solid;
    font-weight: bold;
    color: var(--cor-principal);
    padding: 2% 0 0 0;
}

.login__campos__entrar:hover {
    background-color: rgba(238, 0, 255, 0.8);

}

.rodape {
    margin-top: 50px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.rodape__paragrafo {
    font-family: var(--fonte-principal);
    font-size: 1.5em;
    text-align: center;
    align-items: center;
}

.rodape__direitos {
    font-family: var(--fonte-principal);
    font-size: 1em;
    text-align: center;
    align-items: center;
}